.footer {
  background-color: var(--cl-primary-background);
  margin-top: 80px;
}

.footer_inner {
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
}

.footer_info {
  display: flex;
  flex-direction: column;
  max-width: 390px;
}

.footer_info p {
  font-size: 16px;
  line-height: 24px;
  color: var(--cl-secondary);
}

.socialmedia_nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sm {
  width: 52px;
  height: 52px;
  background-color: var(--cl-white);
  display: grid;
  place-items: center;
}

.sm svg {
  width: 32px;
  height: 32px;
  color: #c4c4c4;
  transition: 0.3s;
}

.sm:hover svg {
  color: var(--cl-primary);
  transition: 0.3s;
}
